{%extends 'base.html'%}

{%block style%}
		.col-md-6{
		margin-top:10px;
		margin-left:300px;
		}
		.btn-primary{
		margin-top:5px;
		margin-left:850px;
		}
		.qns{
		margin-top:100px;
		margin-left:400px;
		}
		.author{
		margin-left:800px;
		}
{%endblock%}

{%block content%}
		<h1 class='qns'>{{Question}}</h1>
		<form method='POST'>
			<div class='row'>
				<p><textarea class='col-md-6 .col-md-offset-2' rows='4' name='ans_text' id='id_new_ans' required></textarea>
				{% csrf_token %}
				<p><input type='submit' class='btn btn-primary' value='Submit'>
				<h3 class='author'>Question asked by {{Author}}</h3>
			</div>
		</form>
{%endblock%}

