{%extends 'base.html'%}

{%block style%}
		.jumbotron{
			margin-top:50px;
			}
{%endblock%}

{%block content%}
	<form method ='POST'>
		<div class='jumbotron'>
		<div class='input-group'>
			<span class="input-group-addon">City</span>
			<input type='text' class='form-control' name='city' placeholder='Singapore'>
		</div>

		<div class='input-group'>
			<span class="input-group-addon">Available?</span>
			<input type='checkbox' class='form-control' name='status'>
		</div>

		{% csrf_token %}
		<input type='submit' class='btn btn-primary' name='info' value='Submit'>
		<input type='submit' class='btn btn-default' name='later' value='Remind Me Later'>
		</div>
	</form>
{%endblock%}

